body {
  background-color: #FF4358;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.bg-image{
  background-image: url(./images/vegetables-and-fruits-farmers-market.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 21%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  
}
.form{
  width: 30%;
  height: 600px;
  padding: 3rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
